@charset "utf-8";

#header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

#header.fixed {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

main {
  margin-top: 200px;
}

#g-navi {
  list-style: none;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-align: center;
}


h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p {
  margin-top: 20px;
}

small {
  background: #333;
  color: #fff;
  display: block;
  text-align: center;
  padding: 20px;
}



nav {

  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px;
  transition: all 0.3s;
}

nav ul li.current a,
nav ul li a:hover {
  color: #fff;
}


section {
  padding: 20px;
}

section:nth-child(2n) {
  background: #f3f3f3;
}